@model IEnumerable<Movie>

   @{
       ViewData ["Title"] = "Movies";
   }
   <h2>
      <i class="bi bi-film"></i> Movies
   </h2>
   <hr />
<a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i> Add Movies</a>
 <br />
   <div style="margin-top:10px;">
       @if(!Model.Any())
       {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i> No Movies Found!
        </div>
       }else{
           <div class="row">
            @foreach (var movie in Model)
             { 
                 <div class="col-12">
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-2 poster" style="background-image:url(data:image\/*;base64,@(Convert.ToBase64String(movie.poster)))">
                            </div>
                            <div class="col-md-10 mt-2">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <h5 class="card-title">@movie.Title (@movie.year)</h5>
                                        <p class="card-text text-justify">@(movie.StoreLine.Length > 500 ? $"{movie.StoreLine.Substring(0,500)}" :movie.StoreLine)</p>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                            <p class="card-text mb-0 mt-2">
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <small>@movie.Rate</small>
                                            </p>                                      
                                      <div>
                                        <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-outline-secondary">
                                          <i class="bi bi-camera-reels"></i>
                                          Details
                                        </a>

                                        <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-outline-primary">
                                            <i class="bi bi-pencil"></i>
                                            Edit
                                        </a>

                                        <a href="javascript:;" class="btn btn-danger js-delete" data-id="@movie.Id">
                                              <i class="bi bi-trash"></i>
                                            Delete
                                        </a>
                                       </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                 </div>

             }
          </div>
       }

   </div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);                
                var result = confirm("Are you sure that you want delete this movie ?");


               if(result) {
                    $.ajax({

                      url:'/movies/delete/' + btn.data('id'),
                        success: function () {
                            btn.parents('col-12').fadeOut();
                            toastr.success('movie deleted');
                       },
                       error: function () {
                           toastr.error('something want Wrong!')
                       }

                    });
               }

            });
        });
    </script>
}